<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Samir. It uses data from mapbox.com and some weather api.</p>
        <img class="potrait" src="/img/ikke.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>  